<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>距離測定アプリケーション</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?&key=AIzaSyB5oDuHBHq360_FeLiz5w7JMKXU8F1J6kU&callback=initMap" async></script>
    <script type="text/javascript" th:src="@{/gps.js}"></script>
    <script type="text/javascript">

        function setLocation(pos){
        
            // 緯度・経度を取得
            lat = pos.coords.latitude;
            lon = pos.coords.longitude;
        
            // google map へ表示するための設定
            latlon = new google.maps.LatLng(lat,lon);
            map = document.getElementById("map");
            opt = {
                zoom: 17,
                center: latlon,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                scaleControl: true,
                disableDoubleClickZoom: true,
                draggable: false
            };
        
            // google map 表示
            mapObj = new google.maps.Map(map, opt);
        
            // マーカーを設定
            marker = new google.maps.Marker({
                position: latlon,
                map: mapObj
            });
        
        }
        
        // エラー時に呼び出される関数
        function showErr(err){
            switch(err.code){
                case 1 : alert("位置情報の利用が許可されていません"); break;
                case 2 : alert("デバイスの位置が判定できません"); break;
                case 3 : alert("タイムアウトしました"); break;
                default : alert(err.message);
            }
        }
        
        // geolocation に対応しているか否かを確認
        if("geolocation" in navigator){
            var opt = {
                "enableHighAccuracy": true,
                "timeout": 10000,
                "maximumAge": 0,
            };
            navigator.geolocation.getCurrentPosition(setLocation, showErr, opt);
        }else{
            alert("ブラウザが位置情報取得に対応していません");
        }
        
    </script>
</head>
<body>
    <h2>[[*{username}]]さん GPSアプリケーションへようこそ！</h2>

    <button id="start_gps">GPS情報取得を開始する</button>

    <table border="1">
        <tr>
        <th>現在地点の緯度</th>
        <td><span id="latitude"></span></td>
        <th>現在地点の経度</th>
        <td><span id="longitude"></span></td>
        </tr>
    </table>

    <div id="map" style="height:500px"></div>

    <form th:action="@{/}" method="post" th:object = "${createLog}">
        この地点の名前を入力：<input type="text" name="name" id="name">
        <input type="submit" value="測定">
    </form>

    <h3>前回測定地点との距離は[[*{distance}]]mです！</h3>

    <div id="message1"></div>
    <div id="message2"></div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウトする">
    </form>

</body>
</html>