<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>距離測定アプリケーションログイン</title>
</head>
<body>
    <h2>距離測定GPSアプリケーション</h2>
    <h3>ログイン画面</h3>
    <form th:action="@{/login}" method="post" th:object="${loginForm}">
        登録したユーザーネームを入れてください：
        <input type="text" name="username" id="username">
        <input type="submit" value="アプリを開始する">
    </form>
    <h4>初めてアプリを使う方はこちら</h4>
    <form th:action="@{/signup}" method="get">
        <input type="submit" value="ユーザ登録へ">
    </form>
</body>
</html>