<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>距離測定アプリケーション登録</title>
</head>
<body>
    <h2>ユーザ登録</h2>
    <form th:action="@{/signup}" method="post" th:object="${postUsernameForm}">
        このアプリであなたが使う名前を入力：
        <input type="text" name="username" id="username">
        <input type="submit" value="この名前で登録">
        <input type="button" value="ログイン画面に戻る" onclick="history.back();">
    </form>
</body>
</html>